captum==0.7.0
matplotlib==3.10.3
numpy==2.3.0
opencv_python==4.11.0.86
pandas==2.3.0
Pillow==11.2.1
scripts==3.0
source==1.2.0
streamlit==1.45.1
torch==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
fpdf==1.7.2
